<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bignerdranch.android.brainwaves">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListOfGamesActivity"
            android:label="@string/title_activity_list_of_games"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EndOfGameActivity"
            android:label="@string/title_activity_end_of_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MathGame1Activity"
            android:label="@string/title_activity_game1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MathGame2Activity"
            android:label="@string/game2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EndOfMathGame1Activity"
            android:label="@string/title_activity_end_of_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EndOfMathGame2Activity"
            android:label="@string/title_activity_end_of_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogicGame1"
            android:label="@string/title_activity_logic_game1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReactionGame1"
            android:label="@string/title_activity_reaction_game1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpeedGame1"
            android:label="@string/title_activity_speed_game1"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".FlashGame"
            android:label="@string/title_activity_flash_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".simon.SimonMainActivity"
            android:label="@string/title_activity_simon_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".simon.SimonAboutActivity"
            android:label="@string/title_activity_simon_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".simon.SimonHowToPlayActivity"
            android:label="@string/title_activity_simon_how_to_play"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".simon.SimonGameActivity"
            android:label="@string/title_activity_simon_game"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|screenSize" />

<!--        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />-->
        <activity
            android:name=".MathQuiz.MyActivity"
            android:theme="@style/AppTheme.Dark" />

<!--        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />-->

<!--        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />-->
 <!--       <activity
            android:name=".Splashscreen"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.Dark" />-->
<!--        <activity
            android:name=".GameMenuActivity"
            android:theme="@style/AppTheme.Dark" />-->
 <!--       <activity
            android:name=".SpaceShip.SpaceMainActivity"
            android:theme="@style/AppTheme.Dark" />-->
<!--        <activity
            android:name=".IQtest.FirstActivity"
            android:theme="@style/AppTheme.Dark" />-->
<!--        <activity
            android:name=".IQtest.Easy1Activity"
            android:theme="@style/AppTheme.Dark" />-->
<!--        <activity
            android:name=".IQtest.ResultActivity"
            android:theme="@style/AppTheme.Dark" />-->

<!--        <activity
            android:name=".PlayerProfileActivity"
            android:theme="@style/AppTheme.Dark" />
&lt;!&ndash;        <activity
            android:name=".ConcentrationAppMenuActivity"
            android:theme="@style/AppTheme.Dark" />&ndash;&gt;
        <activity
            android:name=".ColorPhun.Activities.ColorMainActivity"
            android:label="@string/title_activity_color_main"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".ColorPhun.Activities.EasyGameColorfunActivity"
            android:theme="@style/AppTheme.Dark" />
        &lt;!&ndash;<activity&ndash;&gt;
        &lt;!&ndash;android:name=".ColorPhun.Activities.MainGameColorfunActivity"&ndash;&gt;
        &lt;!&ndash;android:theme="@style/AppTheme.Dark" />&ndash;&gt;
        <activity
            android:name=".ColorPhun.Activities.GameOverColorActivity"
            android:label="@string/title_activity_game_over_color"
            android:theme="@style/AppTheme.Dark" />-->

<!--        <activity
            android:name=".MemoryGame.MemoryActivity"
            android:theme="@style/AppTheme.Dark" />-->
        <activity
            android:name=".MathQuiz.BrainChallenge"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".MathQuiz.Help"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".MathQuiz.Highscore"
            android:label="@string/title_activity_highscore"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".MathQuiz.ScoreScreen"
            android:label="@string/title_activity_score_screen"
            android:theme="@style/AppTheme.Dark" />
<!--        <activity
            android:name=".IntelligenceAppMenuActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".MemoryGame.FirstMemoryActivity"
            android:theme="@style/AppTheme.Dark" />

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:stopWithTask="true"></service>-->

    </application>


</manifest>